{% extends 'base.html.twig' %}

{% block title %}{{'log in'|trans|capitalize}} - {{'Real estate agency'|trans}}
{% endblock %}

{% block body %}
	<section class="form-section">
		<h1>{{'please sign in'|trans}}</h1>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
			<div class="form-control-group">
				{{'You are logged in as'|trans}}&nbsp;{{ app.user.username }},
				<a class="underlined-link" href="{{ path('app_logout') }}">{{'Logout'|trans}} ?</a>
			</div>
			{% endif %}
			<div class="form-control-group">
				<label for="inputEmail">{{'email address'|trans|capitalize}}</label>&nbsp;<i class="fa fa-caret-right"></i>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control-input" autocomplete="email" required autofocus>
			</div>
			<div class="form-control-group">
				<label for="inputPassword">{{'password'|trans|capitalize}}</label>&nbsp;<i class="fa fa-caret-right"></i>
				<input type="password" name="password" id="inputPassword" class="form-control-input" autocomplete="current-password" required>
				<a class="underlined-link" href="{{ path('app_forgot_password_request') }}">{{'forgot your password ?'|trans|capitalize}}</a>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			See https://symfony.com/doc/current/security/remember_me.html #}
			<div class="form-control-group">
				<div class="input-checkbox-group">
					<input type="checkbox" name="_remember_me" id="_remember_me">
					<label class="required" for="_remember_me"><span><i class="fa fa-check"></i></span><i class="fa fa-caret-left"></i>&nbsp;{{'Remember me'|trans}}</label>
				</div>
			</div> 
			<div class="form-button-submit-right">
				<button type="submit" class="button button-rounded button-outline"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;{{'log in'|trans}}</button>
			</div>
			<div class="form-button-submit-right">
				<a class="underlined-link" href="{{ path('app_register_private_owner') }}">{{'Not yet registered, create an account ?'|trans}}</a>
			</div>
		</form>
	</section>
{% endblock %}
