{% extends 'base.html.twig' %}

{% block title %}Accueil - Agence immobilière{% endblock %}

{% block body %}
	<section class="slider-top-section">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="carousel-img" style="background-image: url( {{ asset('assets/images/carousel/carousel-bg-1.jpg') }} );"></div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img" style="background-image: url( {{ asset('assets/images/carousel/carousel-bg-2.jpg') }} );"></div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img" style="background-image: url( {{ asset('assets/images/carousel/carousel-bg-3.jpg') }} );"></div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img" style="background-image: url( {{ asset('assets/images/carousel/carousel-bg-4.jpg') }} );"></div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img" style="background-image: url( {{ asset('assets/images/carousel/carousel-bg-5.jpg') }} );"></div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
			<div class="slogan">
				<h2>La satisfaction de nos clients est notre priorité</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit voluptatum iusto aspernatur quibusdam alias neque omnis molestiae ex, cum ducimus nihil hic ipsam sapiente dicta dignissimos porro cumque dolor enim. Voluptatibus consectetur officiis tenetur eaque aliquam sint sapiente et rem eveniet dolore. Accusantium alias fugit cum totam corporis praesentium rem veritatis quo numquam repellendus, similique distinctio libero ipsa voluptas atque exercitationem nostrum dolorem nobis! Perspiciatis quas dolore, repellendus illo temporibus voluptatem tempore facere, non ipsum eligendi, nobis porro quae!</p>
			</div>
		</div>
	</section>
	<section class="properties-section">
		<div class="properties-container">
			{% for offer in offers %}
				{{ include('components/_card_property.html.twig') }}
			{% else %}
				<div class="no-property-to-display">😓 Il n'y a encore aucune annonce à afficher.</div>
			{% endfor %}
			<div class="card-show-more">
				<a href="{{ path('offer_home') }}">voir plus<br>d'annonces<br><i class="fa fa-plus-circle"></i>
				</a>
			</div>
		</div>
	</section>
{% endblock %}