<div class="top-right-user">
	{% if app.user %}
		<h3>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
		<i class="fa fa-user" title="{{ app.user.firstname }} {{ app.user.lastname }}"></i>
		{{ render(controller("App\\Controller\\PrivateArea\\MessageController::countMessageNotRead")) }}
		<a href="{{ path('app_logout') }}" title="{{ 'logout'|trans|capitalize }}"><i class="fa fa-power-off"></i></a>
	{% endif %}
</div>