<div class="toggle-switch-button">
  {% if viewMode is defined and viewMode == 'thumbnail' %}
    <p>{{ 'active'|trans|capitalize }}</p>
	{% endif %}
  <input type="checkbox" name="{{ 'property' ~ offer.property.id }}" id="{{ 'offer' ~ offer.id }}" data-id="{{ offer.id }}" {{ offer.is_active ? 'checked' : ''}}>
  <label for="{{ 'offer' ~ offer.id }}"><span class="ball-switch-button"></span></label>
</div>