{% extends 'base.html.twig' %} {% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block body %}
<main id="private-area-main">
	<div class="top-right-user">
		{% if app.user is defined %}
		<h3>{{ app.user.firstname }} {{ app.user.lastname }}<i class="fa fa-user"></i><a href="{{ path('app_logout') }}" title="{{ 'logout'|trans|capitalize }}"><i class="fa fa-power-off"></i></a></h3>
		{% endif %}
	</div>
	<h2>{{'my properties'|trans|capitalize}}</h2>
	<table>
		<thead>
			<tr>
				{% for k, header in headers %}
					<th>
						<div class="header-btn-sort-group">
							{{ header|trans|capitalize }}
							<div class="table-sort-buttons">
								<a href="{{ path('private_area_list', {entity: 'property', sort:k, order: 'desc'}) }}"><i class="fa fa-caret-up" title="{{ 'descending sort'|trans|capitalize }}"></i></a>
								<a href="{{ path('private_area_list', {entity: 'property', sort:k, order: 'asc'}) }}"><i class="fa fa-caret-down" title="{{ 'ascending sort'|trans|capitalize }}"></i></a>
							</div>
						</div>
					</th>
				{% endfor %}
				<th>{{ 'options'|trans|capitalize }}</th>
				<th>{{ 'actions'|trans|capitalize }}</th>
			</tr>
		</thead>
		<tbody>
			{% for property in datas %}
				<tr>
					<td>{{ property.id }}</td>
					<td>{{ property.transactionType }}</td>
					<td>{{ property.city.name }}</td>
					<td>{{ property.PropertyType.name }}</td>
					<td>{{ property.price }}</td>
					<td>{{ property.area }}</td>
					<td>{{ property.rooms }}</td>
					<td>{{ property.energy }}</td>
					<td>{{ property.ges }}</td>
					<td>
						{% for option in property.options %}
							{{ option.name }}
						{% endfor %}
					</td>
					<td class="table-td-actions"><i class="fa fa-pencil"></i><i class="fa fa-trash"></i></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</main>
{% endblock %}
