{% extends 'base.html.twig' %} {% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/fullcalendar/lib/main.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/fullcalendar/lib/main.js') }}"></script>
	<script src="{{ asset('assets/fullcalendar/lib/locales/fr.js') }}"></script>
	<script src="{{ asset('assets/fullcalendar/lib/locales/en-gb.js') }}"></script>
	<script src="{{ asset('assets/fullcalendar/lib/locales/es.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				headerToolbar: 
					{
						start: 'prev,next today', 
						center: 'title',
						end: 'dayGridMonth,dayGridWeek listMonth' 
					},
				defaultAllDay: true,
        dayMaxEventRows: 2,
        moreLinkClick: 'popover',
        dayPopoverFormat: { month: 'long', day: 'numeric', year: 'numeric' },
				events: {{ data|raw }},
				eventMouseEnter: function(item) { 
					item.el.setAttribute('title', item.event.start.toLocaleString('fr-FR', {year: '2-digit', month: '2-digit', day: '2-digit'}) + '\n' + item.event.title + ' :\n' +  item.event.extendedProps.description)
				},
			});
			calendar.setOption('locale', "{{ app.session.get('_locale') }}");
			calendar.render();
		});
	</script>
{% endblock %}
{% block bodyPrivateArea %}
{% include "private_area/_header_user.html.twig" %}
<main id="private-area-main">
	<h2>{{'my agenda'|trans|capitalize}}</h2>
	<div id='calendar'></div>
</main>
{% endblock %}
