{% extends 'base.html.twig' %}

{% block title %}Annonces - Agence immobilière{% endblock %}

{% block body %}
	<section class="search-form-section">
		{{ form_start(form) }}
			<div class="search-form-group">
				<div class="search-form-group-1">
					<div class="search-form-sell-group">
						<div class="input-checkbox-group">
							{{ form_widget(form.sell) }}
							<label for="search_form_sell"><span><i class="fa fa-check"></i></span>Vente</label>
						</div>
						<div class="sell-price-group">
							<div class="input-price-group">
								{{ form_label(form.sell_price_min) }}
								<span class="input-price">
									{{ form_widget(form.sell_price_min) }}
									<i class="fa fa-euro"></i>
								</span>
							</div>
							<div class="input-price-group">
								{{ form_label(form.sell_price_max) }}
								<span class="input-price">
									{{ form_widget(form.sell_price_max) }}
									<i class="fa fa-euro"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="search-form-rent-group">
						<div class="input-checkbox-group">
							{{ form_widget(form.rent) }}
							<label for="search_form_rent"><span><i class="fa fa-check"></i></span>Location</label>
						</div>
						<div class="rent-price-group">
							<div class="input-price-group">
								{{ form_label(form.rent_price_min) }}
								<span class="input-price">
									{{ form_widget(form.rent_price_min) }}
									<i class="fa fa-euro"></i>
								</span>
							</div>
							<div class="input-price-group">
								{{ form_label(form.rent_price_max) }}
								<span class="input-price">
									{{ form_widget(form.rent_price_max) }}
									<i class="fa fa-euro"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="center-mobile-group">
					<div class="search-form-group-2">
						<div class="input-rooms-group">
							{{ form_label(form.rooms) }}
							{{ form_widget(form.rooms) }}
						</div>
						<div class="input-type-group">
							{{ form_label(form.type) }}
							{{ form_widget(form.type) }}
						</div>
						<div class="input-checkbox-group">
							{{ form_widget(form.furnished) }}
							<label for="search_form_furnished"><span><i class="fa fa-check"></i></span>Meublé</label>
						</div>
					</div>
					<div class="search-form-group-3">
						<div class="input-city-group">
							{{ form_label(form.city) }}
							<div class="input-city-list-group">
								{{ form_widget(form.city) }}
								<div class="city-list-group" id="city-list-group">
								</div>
							</div>
						</div>
						<div class="input-radius-group">
							{{ form_label(form.radius) }}
							<span class="input-radius">
								{{ form_widget(form.radius) }}
								<i>Km</i>
								<i class="fa fa-plus-circle"></i>
								<i class="fa fa-minus-circle"></i>
							</span>
						</div>
						<button type="submit">rechercher&nbsp;<i class="fa fa-search"></i></button>
					</div>
				</div>
			</div>
		{{ form_end(form) }}
	</section>
	<section class="properties-section">
		{% if offerCount is defined and offerCount > 0 %}
			<div class="property-counter">{{ offerCount }}{{ offerCount > 1 ? ' annonces' : ' annonce'}} correspondent aux critères de recherche</div>
		{% endif %}
		<div class="properties-container">
			{% for offer in offers %}
				<div class="card-property">
					<div class="card-property-management">
						<span>{{ offer.property.manager }}</span>
					</div>
					<div class="card-property-img" style="background-image: url({{ asset(offer.property.images[0].path) }})"></div>
					<h3 class="card-property-title">{{ offer.title }}</h3>
					<!-- max-length=40 -->
					<a href="#">
						<i class="fa fa-star-o"></i>
					</a>
					<h4 class="card-property-price">
						{% if offer.property.transactionType == 'location' %}
							{{ offer.property.price|format_currency('EUR', locale='fr', attrs={rounding_mode: 'floor', fraction_digit: 0}) }}
							/ mois
						{% else %}
							{{ offer.property.price|format_currency('EUR', locale='fr', attrs={rounding_mode: 'floor', fraction_digit: 0}) }}
						{% endif %}
					</h4>
					<h4 class="card-property-area">{{ offer.property.rooms }}
						pièces -
						{{ offer.property.area }}
						m²</h4>
					<p class="card-property-text">{{ offer.description }}</p>
					<h4 class="card-property-city">
						<i class="fa fa-map-marker"></i>&nbsp;{{ offer.property.city.name }}</h4>
					<!-- max-length=60 -->
					<a href="#" class="card-property-button button button-outline">en savoir plus</a>
				</div>
			{% else %}
				<div class="no-property-to-display">😓 Aucune annonce ne semble correspondre à votre recherche, veuillez réessayer en modifiant les critères.</div>
			{% endfor %}
			<div class="card-show-more">
				<a href="">afficher<br>toutes les<br>annonces
				</a>
			</div>
		</div>
	</section>
	{% if offers.getTotalItemCount > 12 %}
      {{ knp_pagination_render(offers) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/js/searchForm.js') }}"></script>
{% endblock %}
