{% extends 'base.html.twig' %}

{% block title %}Annonces - Agence immobilière{% endblock %}

{% block body %}
  {% for message in app.flashes('message_alert') %}
    {{ include('include/_alert.html.twig') }}
  {% endfor %}
	{{ include('offer/_search_form.html.twig') }}
	<section class="properties-section">
		{% if offerCount is defined and offerCount > 0 %}
			<div class="property-counter">{{ offerCount }}{{ offerCount > 1 ? ' annonces' : ' annonce'}} correspondent aux critères de recherche</div>
		{% endif %}
		<div class="properties-container">
			{% for offer in offers %}
				<div class="card-property">
					<div class="card-property-management">
						<span>{{ offer.property.manager }}</span>
					</div>
					<div class="card-property-img" style="background-image: url({{ asset(offer.property.images[0].path) }})"></div>
					<h3 class="card-property-title">{{ offer.title }}</h3>
					<!-- max-length=40 -->
					<a href="#">
						<i class="fa fa-star-o"></i>
					</a>
					<h4 class="card-property-price">
						{% if offer.property.transactionType == 'location' %}
							{{ offer.property.price|format_currency('EUR', locale='fr', attrs={rounding_mode: 'floor', fraction_digit: 0}) }}
							/ mois
						{% else %}
							{{ offer.property.price|format_currency('EUR', locale='fr', attrs={rounding_mode: 'floor', fraction_digit: 0}) }}
						{% endif %}
					</h4>
					<h4 class="card-property-area">{{ offer.property.rooms }}
						pièces -
						{{ offer.property.area }}
						m²</h4>
					<p class="card-property-text">{{ offer.description }}</p>
					<h4 class="card-property-city">
						<i class="fa fa-map-marker"></i>&nbsp;{{ offer.property.city.name }}</h4>
					<!-- max-length=60 -->
					<a href="#" class="card-property-button button button-outline">en savoir plus</a>
				</div>
			{% else %}
				<div class="no-property-to-display">😓 Aucune annonce ne semble correspondre à votre recherche, veuillez réessayer en modifiant les critères.</div>
			{% endfor %}
			<div class="card-show-more">
				<a href="{{ path('offer_home') }}">afficher<br>toutes les<br>annonces
				</a>
			</div>
		</div>
	</section>
  {% if offers|length %}
    {% if offers.getTotalItemCount > 10 %}
      {{ knp_pagination_render(offers) }}
    {% endif %}
  {% endif %}
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('assets/js/searchForm.js') }}"></script>
{% endblock %}