{% extends 'base.html.twig' %}

{% block title %}{{'reset your password'|trans|capitalize}} - {{'Real estate agency'|trans}}{% endblock %}

{% block body %}
    <section class="form-section" style="background-image: url( {{ asset('assets/images/carousel/carousel-bg-1.jpg') }} );">
		<div class="overlay-brightness"></div>
        {{ form_start(resetForm, {'attr': {'class': 'login-register'}}) }}
		    <h1>{{'Reset your password'|trans|capitalize}}</h1>
            <div class="form-control-group">
                {{ form_label(resetForm.plainPassword.first, null, {'label': 'new password'|trans|capitalize}) }}&nbsp;<i class="fa fa-caret-right"></i>
                {{ form_widget(resetForm.plainPassword.first) }}
			</div>
            <div class="form-control-group">
                {{ form_label(resetForm.plainPassword.second, null, {'label': 'repeat password'|trans|capitalize}) }}&nbsp;<i class="fa fa-caret-right"></i>
                {{ form_widget(resetForm.plainPassword.second) }}
			</div>
            <div class="form-button-submit-right">
                <button type="submit" class="button button-rounded button-outline button-fit button-small">{{'reset password'|trans}}</button>
			</div>
        {{ form_end(resetForm) }}
	</section>
{% endblock %}
