{% extends 'base.html.twig' %} 

{% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block bodyPrivateArea %}
{% include "private_area/_header_user.html.twig" %}
<main id="private-area-main">
	{% for message in app.flashes('message_alert') %}
    {{ include('include/_alert.html.twig') }}
  {% endfor %}
	<h2>{{'my property ads'|trans|capitalize}}</h2>
	<div class="private-area-scroll-container">
		{{ include('include/_property_view.html.twig') }}
	</div>
</main>
{{ include('include/_carousel_property_view.html.twig') }}
{% endblock %}
