{% extends 'base.html.twig' %}

{% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block bodyPrivateArea %}
{% include "private_area/_header_user.html.twig" %}
<main id="private-area-main">
	{% for message in app.flashes('message_alert') %}
    {{ include('include/_alert.html.twig') }}
  {% endfor %}
	<h2>{{'sent message'|trans|capitalize}}</h2>
	<div class="actions-buttons-group">
		{% if is_granted('ROLE_OWNER') %}
			<a href="{{ path('private_area_message_contact_agent') }}" role="button" class="button button-small button-fit"><i class="fa fa-envelope-o"></i>&nbsp;{{ 'contact my agent'|trans }}</a>
		{% endif %}
		<a href="{{ path('private_area_message_list') }}" role="button" class="button button-outline button-small button-fit"></i>&nbsp;{{ 'received messages'|trans }}</a>
	</div>
	<div class="private-area-scroll-container">
		<table class="table-responsive-line">
			<thead>
				<tr>
					{% for k, header in headers %}
						{% if header.header %}
							<th>
								<div class="header-btn-sort-group">
									{{ header.label|trans|capitalize }}
									{% if header.sort %}
										<div class="table-sort-buttons">
											<a href="{{ path('private_area_message_sent', {sortBy: k, order: 'desc'}) }}"><i class="fa fa-caret-up" title="{{ 'descending sort'|trans|capitalize }}"></i></a>
											<a href="{{ path('private_area_message_sent', {sortBy: k, order: 'asc'}) }}"><i class="fa fa-caret-down" title="{{ 'ascending sort'|trans|capitalize }}"></i></a>
										</div>
									{% endif %}
								</div>
							</th>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for msg in datas %}
					<tr>
						<td>
							<ul style="list-style: inside">
								{% for user in msg.recipients %}
									<li title="{{ user.recipient.email }}">{{ user.recipient.lastname }} {{ user.recipient.firstname }}</li>									
								{% endfor %}
							</ul>
						</td>
						<td style="max-width: 450px">
							<strong>{{ msg.subject }}</strong>
							<br>
							{{ msg.content|slice(0, 200) }}...
						</td>
						<td>{{ msg.created_at|date('d/m/Y H:i') }}</td>
						<td>
							<div class="table-td-actions">
								<a href="{{ path('private_area_message_sent_view', {id: msg.id}) }}" title="{{ 'see message'|trans|capitalize }}"><i class="fa fa-eye"></i></a>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td clospan="{{ headers|length }}">{{ 'you have no new message'|trans|capitalize }}.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if datas|length > 0 %}
			{% if datas.getTotalItemCount > 10 %}
				{{ knp_pagination_render(datas) }}
			{% endif %}
		{% endif %}
	</div>
</main>
<div class="modal" id="modal-confirm-delete" role="dialog">
	<div class="modal-content w-450">
		<a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
		<div class="modal-header">
		<h3><i class="fa fa-warning"></i>&nbsp;{{ 'confirm deletion'|trans|capitalize }}</h3>
		</div>
		<div class="modal-body">
			<p>{{ 'you are about to delete document no'|trans|capitalize }}&nbsp;<span class="span-item-id"></span>.</p>
			<br>
			<p>{{ 'this action is irreversible.'|trans|capitalize }}</p>
		</div>
		<div class="modal-footer">
			<button class="button button-rounded button-outline" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;{{'cancel'|trans}}</button>
			<a id="delete-button" role="button" class="button button-rounded"><i class="fa fa-check"></i>&nbsp;{{'confirm'|trans}}</a>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/message.js') }}"></script>
	<script src="{{ asset('assets/js/tableResponsive.js') }}" defer></script>
{% endblock %}
