	</main>
	<footer>
		<a href="{{ path('home') }}">
			<div class="logo-company-group">
					<i class="fa fa-home"></i>
					<h1><strong>{{'agency'|trans}}</strong><br>{{'real estate'|trans}}</h1>
			</div>
		</a>
		<div class="footer-group-1">
			<div class="footer-menu">
				<h3>Menu</h3>
				<ul>
					<li><a href="{{ path('offer_home') }}" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'properties'|trans|capitalize}}</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'Private owners'|trans}}</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'Manage by agency'|trans}}</a></li>
					<li><a href="{{ path('faq_home') }}" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'faq'|trans|capitalize}}</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Contact</a></li>
				</ul>
			</div>
			<div class="footer-confidentiality">
				<h3>{{'Confidentiality'|trans}}</h3>
				<ul>
					<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'Terms and conditions'|trans}}</a></li>
					<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'Data protection policy'|trans}}</a></li>
					<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'Cookies policy'|trans}}</a></li>
					<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'Cookies consent'|trans}}</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-group-2">
			<div class="agencies-partners-group">
				<div class="footer-agencies">
					<h3>{{'our'|trans|capitalize}} {{'agencies'|trans}}</h3>
					<ul>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'agency'|trans|capitalize}} 1</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'agency'|trans|capitalize}} 2</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'agency'|trans|capitalize}} 3</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'agency'|trans|capitalize}} 4</a></li>
					</ul>	
				</div>
				<div class="footer-partners-social-media">
					<h3>{{'our'|trans|capitalize}} {{'partners'|trans}}</h3>
					<ul>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'partner'|trans|capitalize}} 1</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'partner'|trans|capitalize}} 2</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'partner'|trans|capitalize}} 3</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;{{'partner'|trans|capitalize}} 4</a></li>
					</ul>
					<div class="footer-social-media">
						<a href="#"><i class="fa fa-instagram"></i></a></i>
						<a href="#"><i class="fa fa-facebook-square"></i></a>
						<a href="#"><i class="fa fa-twitter-square"></i></a>
						<a href="#"><i class="fa fa-linkedin-square"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>