{% extends 'base.html.twig' %}

{% block title %}FAQ - {{'Real estate agency'|trans}}{% endblock %}

{% block body %}
	<section class="faq-section">
		<div class="faq-group">
			<h1 id="faq-top">{{'frequently asked questions'|trans}}&nbsp;
				<svg xmlns="http://www.w3.org/2000/svg" style="width: 1em; height: 1em" viewBox="0 0 48 48">
					<path id="Icon_material-question-answer" data-name="Icon material-question-answer" d="M48.6,12.6H43.8V34.2H12.6V39A2.407,2.407,0,0,0,15,41.4H41.4L51,51V15A2.407,2.407,0,0,0,48.6,12.6ZM39,27V5.4A2.407,2.407,0,0,0,36.6,3H5.4A2.407,2.407,0,0,0,3,5.4V39l9.6-9.6h24A2.407,2.407,0,0,0,39,27Z" transform="translate(-3 -3)" fill="#33404a"/>
				</svg>
			</h1>
			<div class="faq-menu-group">
				{% for category in categories %}
					<a href="#{{ category.slug }}" class="faq-item">
						<h3 class="faq-menu-item">{{ category.name }}</h3><i class="fa fa-plus"></i>
					</a>
				{% endfor %}
			</div>
			<div class="faq-question-group">
				{% for category in categories %}
					<div class="faq-category">
						<div class="faq-item faq-category-title">
							<h3 class="" id="{{ category.slug }}">{{ category.name }}</h3>
							<a href="#faq-top"><i class="fa fa-chevron-up"></i></a></i>
						</div>
						{% for faq in category.faqs %}
							<div class="faq-question-answer">
								<div class="faq-item faq-question">
									<h4 class="faq-question-title">{{ faq.question }}</h4>
									<i class="fa fa-chevron-down" data-toggle="chevron-faq"></i>
								</div>
								<p class="faq-answer-content">{{ faq.answer }}</p>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class="faq-other-question">
					<a class="button-circle" href="#">{{'ask'|trans}}<br>{{'a'|trans}}<br>{{'question'|trans}}<br>
						<i class="fa fa-question"></i>
					</a>
			</div>
		</div>
	</section>
{% endblock %}