{% extends 'base.html.twig' %}

{% block title %}FAQ - {{'Real estate agency'|trans}}
{% endblock %}

{% block body %}
  {% for message in app.flashes('message_popup') %}
    {{ include('include/_popup_confirm.html.twig') }}
  {% endfor %}
	<section class="form-section">
		<h1>{{'ask a question'|trans}} ?</h1>
    {{ form_start(form) }}
			<div class="form-control-group">
        {{ form_label(form.email, null, {'label': 'email address'|trans|capitalize}) }}&nbsp;<i class="fa fa-caret-right"></i>
        {{ form_widget(form.email) }}
			</div>
			<div class="form-control-group">
        {{ form_label(form.question, null, {'label': 'your question'|trans|capitalize}) }}&nbsp;<i class="fa fa-caret-right"></i>
        {{ form_widget(form.question) }}
			</div>
      <div class="form-button-submit-between">
				<a href="{{ path('faq_home') }}" role="button" class="button button-rounded"><i class="fa fa-back"></i>&nbsp;&nbsp;{{'back to faq'|trans}}</a>
				<button type="submit" class="button button-rounded button-outline"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;{{'send'|trans}}</button>
			</div>
    {{ form_end(form) }}
	</section>
{% endblock %}
