<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <h1>{{ 'new document'|trans|capitalize }}</h1>
  <h4>{{ 'from'|trans|capitalize }} : {{ lastname }} {{ firstname }} {{ mail }}</h4>
  <br>
	<h4>{{ 'subject'|trans|capitalize }} : {{ subject }}</h4>
	<br>
  <p>{{ message }}</p>
  <br>
  <a href="{{ url('app_login') }}">{{ 'access my private area'|trans|capitalize }}</a>
</div>
