{% extends 'base.html.twig' %}

{% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block body %}
<main id="private-area-main">
	{% include "private_area/_header_user.html.twig" %}
	{% for message in app.flashes('message_alert') %}
    {{ include('include/_alert.html.twig') }}
  {% endfor %}
	<h2>{{'documents'|trans|capitalize}}</h2>
	<div class="actions-buttons-group">
		<a href="#" rolle="button" class="button button-small" data-target="#modal-add-document" data-toggle="modal" ><i class="fa fa-plus-circle"></i>&nbsp;{{ 'add new'|trans }}</a>
	</div>
	<div class="table-responsive-container">
			<table>
				<thead>
					<tr>
						{% for k, header in headers %}
							{% if header.header %}
								<th>
									<div class="header-btn-sort-group">
										{{ header.label|trans|capitalize }}
										{% if header.sort %}
											<div class="table-sort-buttons">
												<a href="{{ path('private_area_document_list', {order: 'desc'}) }}"><i class="fa fa-caret-up" title="{{ 'descending sort'|trans|capitalize }}"></i></a>
												<a href="{{ path('private_area_document_list', {order: 'asc'}) }}"><i class="fa fa-caret-down" title="{{ 'ascending sort'|trans|capitalize }}"></i></a>
											</div>
										{% endif %}
									</div>
								</th>
							{% endif %}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					
					{% for document in datas %}
						<tr>
							<td><a href="{{ asset(document.path) }}" class="document-title-link" target="_blank" title="{{ 'download document'|trans|capitalize }}"><i class="fa fa-download"></i>&nbsp;{{ document.title }}</a></td>
							<td>
								<ul>
									{% for user in document.users %}
										<li>{{ user.lastname }} {{ user.firstname }} {{ user.email }}</li>
									{% endfor %}
								</ul>
							</td>
							<td>
								<div class="table-td-actions">
									{% if document.users|length > 0 %}
										{% set usersList = '' %}
										{% for k, user in document.users %}
											{% if k == 0 %}
												{% set usersList = user.id %}
											{% else %}
												{% set usersList = usersList ~ ',' ~ user.id %}
											{% endif %}
										{% endfor %}
									{% endif %}
									<a href="{{ path('private_area_document_manage_users_access', {id: document.id}) }}" role="button" title="{{ 'manage users access'|trans|capitalize }}"><i class="fa fa-user-plus"></i></a>
									<a href="" role="button" title="{{ 'delete document'|trans|capitalize }}" data-target="#modal-confirm-delete" data-toggle="modal" data-id="{{ document.id }}" data-path="{{ path('private_area_document_delete', {id: document.id}) }}"><i class="fa fa-trash"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% if datas|length > 0 %}
			{% if datas.getTotalItemCount > 10 %}
				{{ knp_pagination_render(datas) }}
			{% endif %}
		{% endif %}
	</div>
</main>
<div class="modal" id="modal-confirm-delete" role="dialog">
	<div class="modal-content w-450">
		<a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
		<div class="modal-header">
		<h3><i class="fa fa-warning"></i>&nbsp;{{ 'confirm deletion'|trans|capitalize }}</h3>
		</div>
		<div class="modal-body">
			<p>{{ 'you are about to delete document no'|trans|capitalize }}&nbsp;<span class="span-item-id"></span>.</p>
			<br>
			<p>{{ 'this action is irreversible.'|trans|capitalize }}</p>
		</div>
		<div class="modal-footer">
			<button class="button button-rounded button-outline" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;{{'cancel'|trans}}</button>
			<a id="delete-button" role="button" class="button button-rounded"><i class="fa fa-check"></i>&nbsp;{{'confirm'|trans}}</a>
		</div>
	</div>
</div>
<div class="modal" id="modal-add-document" role="dialog">
	<div class="modal-content">
		<a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
		<div class="modal-header">
		<h3><i class="fa fa-file-pdf-o"></i>&nbsp;{{ 'add new document'|trans|capitalize }}</h3>
		</div>
		<div class="modal-body">
			{{ form_start(form, {'attr': {'class': 'private-area-form'}}) }}
			<div class="form-control-group">
				{{ form_label(form.title, null, {'label': 'title'|trans|capitalize}) }}&nbsp;<i class="fa fa-caret-right"></i>
				{{ form_widget(form.title) }}
			</div>
			<div class="form-control-group">
				{{ form_widget(form.document) }}
				<label for="document_add_edit_form_document"><span class="input-file-button button button-fit"><i class="fa fa-download"></i>&nbsp;{{ 'download document'|trans }}</span></label>
				<span id="input-file-container" data-count-current-files="1"></span>
			</div>
			<div class="form-button-submit-between">
				<button class="button button-rounded button-outline" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;{{'cancel'|trans}}</button>
				<button type="submit" class="button button-rounded"><i class="fa fa-check"></i>&nbsp;{{'confirm'|trans}}</a>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/customInputFileDocument.js') }}"></script>
{% endblock %}
