<h1>{{ 'new message'|trans|capitalize }}</h1>
<h4>{{ 'from'|trans|capitalize }} : {{ firstname }} {{ lastname }}</h4>
<h4>{{ 'email address'|trans|capitalize }} : {{ mail }}</h4>
<h4>{{ 'phone number'|trans|capitalize }} : {{ phone_number }}</h4>
<br>
<h4>{{ 'subject'|trans|capitalize }} : {{ reason }}</h4>

<p>{{ message }}</p>
