<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/style/bootstrap-5.0.2-dist/css/bootstrap.css') }}">
        {# <link rel="stylesheet" href="{{ asset('assets/style/bootstrap-5.0.2-dist/css/bootstrap-grid.css') }}"> #}
        <link rel="stylesheet" href="{{ asset('assets/style/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/style/index.css') }}">
        {% block stylesheets %}{% endblock %}

        <script type="text/javascript" src="{{ asset('assets/style/bootstrap-5.0.2-dist/js/bootstrap.js') }}" defer></script>
	    <script type="text/javascript" src="{{ asset('assets/js/navigation.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include "include/_header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "include/_footer.html.twig" %}
    </body>
</html>
