<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/style/bootstrap-5.0.2-dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/style/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/style/index.css') }}">
        <script type="text/javascript" src="{{ asset('assets/style/bootstrap-5.0.2-dist/js/bootstrap.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('assets/js/main.js') }}" defer></script>
        <style>{% if navigationPrivate is defined %} body { padding: 6em 20px; } {% endif %}</style>
    </head>
    <body>
        {% if navigationPrivate is defined %}
            {% include "include/_header_private.html.twig" %}
        {% else %}
            {% include "include/_header.html.twig" %}
        {% endif %}
        {% block body %}{% endblock %}
        {% if not navigationPrivate is defined %}
            {% include "include/_footer.html.twig" %}
        {% endif %}
        {% if navigationPrivate is defined %}
	        <script type="text/javascript" src="{{ asset('assets/js/navigationPrivate.js') }}"></script>  
        {% else %}
	        <script type="text/javascript" src="{{ asset('assets/js/navigationMain.js') }}"></script>  
        {% endif %}
    </body>
</html>
