{% extends 'base.html.twig' %} {% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block body %}
<main id="private-area-main">
  {% include "private_area/_header_user.html.twig" %}
  <h1>{{'modify a property'|trans|upper}}</h1>
  {{ include('private_area/property/_form.html.twig', {button: 'modify'}) }}
</main>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('assets/js/searchCities.js') }}"></script>
{% endblock %}