{% extends 'base.html.twig' %} {% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block body %}
<main id="private-area-main">
	{% include "private_area/_header_user.html.twig" %}
	{% for message in app.flashes('message_alert') %}
    {{ include('include/_alert.html.twig') }}
  {% endfor %}
	<h2>{{'my properties'|trans|capitalize}}</h2>
	<div class="actions-buttons-group">
		<a href="{{ path('private_area_property_new') }}" class="button button-small"><i class="fa fa-plus-circle"></i>&nbsp;{{ 'add new'|trans }}</a>
		<a href="#" class="button button-small button-filter" id="main-button-filter">
			<i class="fa fa-filter"></i>&nbsp;{{ 'filter'|trans|capitalize }}
			{% if app.request.session.get('filter_criterias') != null %}
				{% set countFilters = 0 %}
				{% for filterCategory in app.request.session.get('filter_criterias') %}
					{% set categoryHasFilter = false %}
					{% for key, item in filterCategory|filter(item => item != '') %}
							{% set categoryHasFilter = true  %}
					{% endfor %}
					{% if categoryHasFilter %}
						{% set countFilters = countFilters + 1 %}
					{% endif %}
				{% endfor %}
				({{ countFilters }})
			{% endif %}
		</a>
	</div>
  {{ include('private_area/_filter.html.twig', {entity: 'property'}) }}
	<div class="table-responsive-container">
		<table>
			<thead>
				<tr>
					{% for k, header in headers %}
						{% if header.header %}
							<th>
								<div class="header-btn-sort-group">
									{{ header.label|trans|capitalize }}
									{% if header.sort %}
										<div class="table-sort-buttons">
											<a href="{{ path('private_area_property_list_sorted', {sortBy: k, order: 'desc'}) }}"><i class="fa fa-caret-up" title="{{ 'descending sort'|trans|capitalize }}"></i></a>
											<a href="{{ path('private_area_property_list_sorted', {sortBy: k, order: 'asc'}) }}"><i class="fa fa-caret-down" title="{{ 'ascending sort'|trans|capitalize }}"></i></a>
										</div>
									{% endif %}
								</div>
							</th>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for property in datas %}
					<tr>
						<td>{{ property.id }}</td>
						<td>{{ property.transaction_type|trans|capitalize }}</td>
						{% if property.transaction_type == 'rental' %}
							<td>
								<div class="table-td-actions">
									{{ property.property_tenants|length > 0 ? 'rented'|trans|capitalize : 'not rented'|trans|capitalize }}&nbsp;
									<a href="" title="{{ 'manage tenants'|trans|capitalize }}" data-target="#modal-confirm-manage-tenant" data-toggle="modal" data-id="{{ property.id }}" data-path="{{ path('private_area_property_manage_tenant', {id: property.id}) }}"><i class="fa fa-pencil"></i></a>
								</div>
							</td>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{ property.city.name }}</td>
						<td>{{ property.property_type.name|trans|capitalize }}</td>
						<td>{{ property.price|format_currency('EUR', locale='fr', attrs={rounding_mode: 'floor', fraction_digit: 0}) }}</td>
						<td>{{ property.area }}</td>
						<td>{{ property.rooms }}</td>
						<td>{{ property.energy }}</td>
						<td>{{ property.ges }}</td>
						<td>
							{% for option in property.options %}
								{{ option.name|trans|capitalize }}
							{% endfor %}
						</td>
						<td>{{ property.owner_property.lastname }} {{ property.owner_property.firstname }}</td>
						<td>
							{{ property.property_ad_count }}
							{% if property.property_tenants|length == 0 %}
								<a href="{{ path('private_area_offer_new', {propertyId: property.id}) }}" class="button-icon" title="{{ 'new property ad'|trans|capitalize }}"><i class="fa fa-plus-circle"></i></a>
							{% endif %}
						</td>
						<td>
							<div class="table-td-actions">
								<a href="{{ path('private_area_property_view', {id: property.id}) }}" title="{{ 'see property informations'|trans|capitalize }}"><i class="fa fa-eye"></i></a>
								<a href="{{ path('private_area_property_edit', {id: property.id}) }}" title="{{ 'edit property'|trans|capitalize }}"><i class="fa fa-pencil"></i></a>
								<a href="" role="button" title="{{ 'delete property'|trans|capitalize }}" data-target="#modal-confirm-delete" data-toggle="modal" data-id="{{ property.id }}" data-path="{{ path('private_area_property_delete', {id: property.id}) }}"><i class="fa fa-trash"></i></a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if datas|length > 0 %}
			{% if datas.getTotalItemCount > 10 %}
				{{ knp_pagination_render(datas) }}
			{% endif %}
		{% endif %}
	</div>
</main>
<div class="modal" id="modal-confirm-delete" role="dialog">
	<div class="modal-content w-450">
		<a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
		<div class="modal-header">
		<h3><i class="fa fa-warning"></i>&nbsp;{{ 'confirm deletion'|trans|capitalize }}</h3>
		</div>
		<div class="modal-body">
			<p>{{ 'you are about to delete property number'|trans|capitalize }}&nbsp;<span class="span-item-id"></span>.</p>
			<br>
			<p>{{ 'related property ads will also be removed, this action is irreversible.'|trans|capitalize }}</p>
		</div>
		<div class="modal-footer">
			<button class="button button-rounded button-outline" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;{{'cancel'|trans}}</button>
			<a id="delete-button" role="button" class="button button-rounded"><i class="fa fa-check"></i>&nbsp;{{'confirm'|trans}}</a>
		</div>
	</div>
</div>
<div class="modal" id="modal-confirm-manage-tenant" role="dialog">
	<div class="modal-content">
		<a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
		<div class="modal-header">
		<h3><i class="fa fa-warning"></i>&nbsp;{{ 'change the status of a rental property'|trans|capitalize }}</h3>
		</div>
		<div class="modal-body">
			<p>{{ 'you are about to change the status of a rental property.'|trans|capitalize }}</p>
			<br>
			<ol>
				<li>{{ 'rented status: the property has at least one attached tenant, if it has an ad it is automatically deleted and you can no longer create one.'|trans|capitalize }}</li>
				<li>{{ 'not-rented status: the property does not have any attached tenant, you can create an ad'|trans|capitalize }}</li>
			</ol>
			<p>{{ 'you can cancel or continue.'|trans|capitalize }}</p>
		</div>
		<div class="modal-footer">
			<button class="button button-rounded button-outline" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;{{'cancel'|trans}}</button>
			<a id="continue-button" role="button" class="button button-rounded"><i class="fa fa-check"></i>&nbsp;{{'continue'|trans}}</a>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/filter.js') }}"></script>
{% endblock %}
