<div class="view-informations-group-1">
  <h3><i class="fa fa-user"></i>&nbsp;{{ 'personal informations'|trans|capitalize }} :</h3>
  <ul>
    <li><strong>{{ 'lastname'|trans|capitalize }} : </strong>{{ tenant.lastname }}</li>
    <li><strong>{{ 'firstname'|trans|capitalize }} : </strong>{{ tenant.firstname }}</li>
    <li><strong>{{ 'address'|trans|capitalize }} : </strong>{{ tenant.address }}</li>
    <li><strong>{{ 'email'|trans|capitalize }} : </strong>{{ tenant.email }}</li>
    <li><strong>{{ 'phone number'|trans|capitalize }} : </strong>{{ tenant.phoneNumber }}</li>
  </ul>
</div>