<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <h1>{{ 'creation of your owner account'|trans|capitalize }}</h1>
  <h4>{{ 'from'|trans|capitalize }} : {{ mail }}</h4>
  <br>
	<h4>{{ 'subject'|trans|capitalize }} : {{ subject }}</h4>
	<br>
	<h5>{{ 'your login details'|trans|capitalize }} :</h5>
  <p><strong>{{ 'username' }} : </strong>{{ username }}</p>
  <p><strong>{{ 'password' }} : </strong>{{ password }}</p>
  <br>
  <p>{{ 'welcome'|trans|capitalize }} !</p>
</div>
