{% extends 'base.html.twig' %} 

{% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}

{% block body %}
<main id="private-area-main">
	{% include "private_area/_header_user.html.twig" %}
	{% for message in app.flashes('message_alert') %}
    {{ include('include/_alert.html.twig') }}
  {% endfor %}
	<h2>{{'tenant no'|trans|capitalize}}&nbsp;{{ tenant.id }}</h2>
	<div class="view-informations">
		<h3><i class="fa fa-user"></i>&nbsp;{{ 'personal informations'|trans|capitalize }} :</h3>
		<ul>
			<li><strong>{{ 'lastname'|trans|capitalize }} : </strong>{{ tenant.lastname }}</li>
			<li><strong>{{ 'firstname'|trans|capitalize }} : </strong>{{ tenant.firstname }}</li>
			<li><strong>{{ 'address'|trans|capitalize }} : </strong>{{ tenant.address }}</li>
			<li><strong>{{ 'email'|trans|capitalize }} : </strong>{{ tenant.email }}</li>
			<li><strong>{{ 'phone number'|trans|capitalize }} : </strong>{{ tenant.phoneNumber }}</li>
		</ul>
	</div>
	<a href="{{ path('referer') }}" class="button button-rounded button-small"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'back to list'|trans }}</a>
</main>
{% endblock %}

